<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div id="header">
</div>
<div id="content">
    {% block content %}
    {% endblock %}

    <script type="text/javascript">
      function showAddPopup(triggeringLink) {
          var name = triggeringLink.id.replace(/^add_/, '');
          href = triggeringLink.href;
          var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
          win.focus();
          return false;
      }
      
      function closePopup(win, newID, newRepr, id) {
          console.log(id);
          $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>');
          win.close();
      }
      </script>

    {% block script %}
    {% endblock %}
</div>

</body>
</html>